In [0]:
sc

In [0]:
print(spark)

In [0]:
from pyspark.sql import *

##### a) Create HR_Employee Pysaprk dataFrame.

In [0]:
HR_Employee = spark.read.csv("dbfs:/FileStore/tables/HR_Employee.csv", header=True, inferSchema=True)

##### b) Show printSchema & show 10 rows of Dataset

In [0]:
HR_Employee.printSchema()
HR_Employee.show(10, truncate=False)

root
 |-- EmployeeID: integer (nullable = true)
 |-- Department: string (nullable = true)
 |-- JobRole: string (nullable = true)
 |-- Attrition: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- MaritalStatus: string (nullable = true)
 |-- Education: string (nullable = true)
 |-- EducationField: string (nullable = true)
 |-- BusinessTravel: string (nullable = true)
 |-- JobInvolvement: string (nullable = true)
 |-- JobLevel: integer (nullable = true)
 |-- JobSatisfaction: string (nullable = true)
 |-- Hourlyrate: integer (nullable = true)
 |-- Income: integer (nullable = true)
 |-- Salaryhike: integer (nullable = true)
 |-- OverTime: string (nullable = true)
 |-- Workex: integer (nullable = true)
 |-- YearsSinceLastPromotion: integer (nullable = true)
 |-- EmpSatisfaction: string (nullable = true)
 |-- TrainingTimesLastYear: integer (nullable = true)
 |-- WorkLifeBalance: string (nullable = true)
 |-- Performance_Rating: string (nullable = true)

+----------+----------------------+-------------------------+---------+------+---+-------------+-------------+--------------+-----------------+--------------+--------+---------------+----------+------+----------+--------+------+-----------------------+---------------+---------------------+---------------+------------------+
|EmployeeID|Department            |JobRole                  |Attrition|Gender|Age|MaritalStatus|Education    |EducationField|BusinessTravel   |JobInvolvement|JobLevel|JobSatisfaction|Hourlyrate|Income|Salaryhike|OverTime|Workex|YearsSinceLastPromotion|EmpSatisfaction|TrainingTimesLastYear|WorkLifeBalance|Performance_Rating|
+----------+----------------------+-------------------------+---------+------+---+-------------+-------------+--------------+-----------------+--------------+--------+---------------+----------+------+----------+--------+------+-----------------------+---------------+---------------------+---------------+------------------+
|1         |Sales                 |Sales Executive          |Yes      |Female|41 |Single       |College      |Life Sciences |Travel_Rarely    |High          |2       |Very High      |94        |5993  |11        |Yes     |8     |0                      |Medium         |0                    |Bad            |Excellent         |
|2         |Research & Development|Research Scientist       |No       |Male  |49 |Married      |Below College|Life Sciences |Travel_Frequently|Medium        |2       |Medium         |61        |5130  |23        |No      |10    |1                      |High           |3                    |Better         |Outstanding       |
|3         |Research & Development|Laboratory Technician    |Yes      |Male  |37 |Single       |College      |Other         |Travel_Rarely    |Medium        |1       |High           |92        |2090  |15        |Yes     |7     |0                      |Very High      |3                    |Better         |Excellent         |
|4         |Research & Development|Research Scientist       |No       |Female|33 |Married      |Master       |Life Sciences |Travel_Frequently|High          |1       |High           |56        |2909  |11        |Yes     |8     |3                      |Very High      |3                    |Better         |Excellent         |
|5         |Research & Development|Laboratory Technician    |No       |Male  |27 |Married      |Below College|Medical       |Travel_Rarely    |High          |1       |Medium         |40        |3468  |12        |No      |6     |2                      |Low            |3                    |Better         |Excellent         |
|6         |Research & Development|Laboratory Technician    |No       |Male  |32 |Single       |College      |Life Sciences |Travel_Frequently|High          |1       |Very High      |79        |3068  |13        |No      |8     |3                      |Very High      |2                    |Good           |Excellent         |
|7         |Research & Development|Laboratory Technician    |No       |Female|59 |Married      |Bachelor     |Medical       |Travel_Rarely    |Very High     |1       |Low            |81        |2670  |20        |Yes     |12    |0                      |High           |3                    |Good           |Outstanding       |
|8         |Research & Development|Laboratory Technician    |No       |Male  |30 |Divorced     |Below College|Life Sciences |Travel_Rarely    |High          |1       |High           |67        |2693  |22        |No      |1     |0                      |Very High      |2                    |Better         |Outstanding       |
|9         |Research & Development|Manufacturing Director   |No       |Male  |38 |Single       |Bachelor     |Life Sciences |Travel_Frequently|Medium        |3       |High           |44        |9526  |21        |No      |10    |1                      |Very High      |2                    |Better         |Outstanding       |
|10        |Research & Development|Healthcare Representative|No       |Male  |36 |Married      |Bachelor     |Medical       |Travel_Rarely    |High          |2       |High           |94        |5237  |13        |No      |17    |7                      |High           |3                    |Good           |Excellent         |
+----------+----------------------+-------------------------+---------+------+---+-------------+-------------+--------------+-----------------+--------------+--------+---------------+----------+------+----------+--------+------+-----------------------+---------------+---------------------+---------------+------------------+
only showing top 10 rows

##### c) Most employee is working in which department

In [0]:
HR_Employee.createTempView("EmployeeTable")

In [0]:
spark.sql("select Department, count(*) as maxcount from EmployeeTable group by Department order by maxcount desc").show(1)

+--------------------+--------+
|          Department|maxcount|
+--------------------+--------+
|Research & Develo...|     961|
+--------------------+--------+
only showing top 1 row

##### d) Highest number of job roles

In [0]:
spark.sql("select JobRole, count(*) as maxcount from EmployeeTable group by JobRole order by maxcount desc").show(1)

+---------------+--------+
|        JobRole|maxcount|
+---------------+--------+
|Sales Executive|     326|
+---------------+--------+
only showing top 1 row

##### e) Which gender have higher strength as workforce?

In [0]:
spark.sql("select Gender, count(*) as strength from EmployeeTable group by Gender order by strength desc").show(1)

+------+--------+
|Gender|strength|
+------+--------+
|  Male|     881|
+------+--------+
only showing top 1 row

##### f) Compare the marital status of employee and find the most frequent status.

In [0]:
spark.sql("select MaritalStatus, count(*) as totalCount from EmployeeTable group by MaritalStatus order by totalCount desc").show(1)

+-------------+----------+
|MaritalStatus|totalCount|
+-------------+----------+
|      Married|       672|
+-------------+----------+
only showing top 1 row

##### g) Mostly hired employee have qualification

In [0]:
spark.sql("select Education, count(*) as totalcount from EmployeeTable group by Education order by totalcount desc").show(1);

+---------+----------+
|Education|totalcount|
+---------+----------+
| Bachelor|       572|
+---------+----------+
only showing top 1 row

##### h) Find the count of employee from which education fields

In [0]:
spark.sql("select EducationField, count(*) as totalcount from EmployeeTable group by EducationField order by totalcount desc ").show()

+----------------+----------+
|  EducationField|totalcount|
+----------------+----------+
|   Life Sciences|       605|
|         Medical|       464|
|       Marketing|       159|
|Technical Degree|       132|
|           Other|        82|
| Human Resources|        27|
+----------------+----------+

##### i) What is the job satisfaction level of employee?

In [0]:
spark.sql("select JobSatisfaction, count(*) as totalCount from EmployeeTable group by JobSatisfaction order by totalCount desc ").show(1)

+---------------+----------+
|JobSatisfaction|totalCount|
+---------------+----------+
|      Very High|       459|
+---------------+----------+
only showing top 1 row

##### j) Does most of employee do overtime: Yes or No?

In [0]:
spark.sql("select Overtime, count(*) totalCount from EmployeeTable group by Overtime order by totalCount desc").show(1)

+--------+----------+
|Overtime|totalCount|
+--------+----------+
|      No|      1053|
+--------+----------+
only showing top 1 row

##### k) Find Min & Max Salaried employees.

In [0]:
spark.sql("select max(Income) as Maximum_Salary, min(Income) as Minimum_Salary from EmployeeTable").show()

+--------------+--------------+
|Maximum_Salary|Minimum_Salary|
+--------------+--------------+
|         19999|          1009|
+--------------+--------------+

##### l) Does most of the employee do business travel? Find of the employees counts for each category

In [0]:
spark.sql("select BusinessTravel, count(*) as totalCount from EmployeeTable group by BusinessTravel order by totalCount desc").show()

+-----------------+----------+
|   BusinessTravel|totalCount|
+-----------------+----------+
|    Travel_Rarely|      1042|
|Travel_Frequently|       277|
|       Non-Travel|       150|
+-----------------+----------+

##### m) Find the AVG salary of graduate employee.

In [0]:
spark.sql("select Education, AVG(Income) from EmployeeTable where Education='Bachelor' group by Education").show()

+---------+-----------------+
|Education|      avg(Income)|
+---------+-----------------+
| Bachelor|6517.263986013986|
+---------+-----------------+

##### n) Find the employee qualification receiving salary lower than equal to avg. salary of all employee.

In [0]:
spark.sql("select Education, Sum(Income), count(*) as totalcount from EmployeeTable where Income<=(select AVG(Income) from EmployeeTable) group by Education order by totalcount desc").show()

+-------------+-----------+----------+
|    Education|sum(Income)|totalcount|
+-------------+-----------+----------+
|     Bachelor|    1321749|       370|
|       Master|    1047976|       257|
|      College|     791128|       201|
|Below College|     403279|       122|
|       Doctor|     117715|        26|
+-------------+-----------+----------+

##### o) When does the employee have highest chance of promotion in terms of working year?

In [0]:
spark.sql("select Performance_Rating, count(*) as PromotionChance from employeetable group by Performance_Rating order by PromotionChance desc ").show()

+------------------+---------------+
|Performance_Rating|PromotionChance|
+------------------+---------------+
|         Excellent|           1243|
|       Outstanding|            226|
+------------------+---------------+

##### p) Highest attrition is in which department?

In [0]:
spark.sql("select Department, count(*) as totalcount from EmployeeTable where Attrition='Yes' group by Department order by totalcount desc ").show(1)

+--------------------+----------+
|          Department|totalcount|
+--------------------+----------+
|Research & Develo...|       133|
+--------------------+----------+
only showing top 1 row

##### q) Show marital status of Person having highest attrition rate

In [0]:
spark.sql("select MaritalStatus, count(*) as totalcount from EmployeeTable where Attrition='Yes' group by MaritalStatus order by totalcount desc ").show(1)

+-------------+----------+
|MaritalStatus|totalcount|
+-------------+----------+
|       Single|       120|
+-------------+----------+
only showing top 1 row