In [0]:
sc

In [0]:
print(spark)

In [0]:
from pyspark import SparkContext, SparkConf
from pyspark.sql import SQLContext

conf = SparkConf().setAppName("PysparkProjectAnalysis").setMaster("local[*]")
sc = SparkContext.getOrCreate(conf)

sqlcontext = SQLContext(sc)

/databricks/spark/python/pyspark/sql/context.py:82: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

In [0]:
logs_DF = spark.read.csv("dbfs:/FileStore/tables/all_transaction_1.csv", header=True, inferSchema=True)

In [0]:
logs_DF.show(10)

+--------------------+--------------------+------------+--------+-------------------+-----------+----------------+------------------+--------+-----------------+-------------------+--------------+-------------+------------+---------+
|         ProductCode|         Description|       Brand|Category|        SubCategory|ActualPrice|Marginpercentage|Discountpercentage|Quantity|TransactionAmount|        InvoiceDate|          Mode|InvoiceNumber|  CustomerId|  Country|
+--------------------+--------------------+------------+--------+-------------------+-----------+----------------+------------------+--------+-----------------+-------------------+--------------+-------------+------------+---------+
|e6fa885e-5f14-4e8...|Landau Pants 2xl ...|      landau|   shoes|  all women's shoes|     1470.0|              20|                30|       3|           3087.0|2015-01-04 18:30:00|    mastercard|   1045713097|GgZx5HTWOcva|Hong Kong|
|7792c28f-2f9b-48b...|Adult Womens Sexy...|       adult|   shoes|  all women's shoes|     2800.0|              10|                30|       2|           3920.0|2015-01-04 18:30:00|visa signature|   1045713178|7EV5p15dX2zO|Singapore|
|7c478913-348f-4f3...|Woolrich Miss Luc...|    woolrich|clothing|           athletic|     2800.0|             -10|                30|       3|           5880.0|2015-01-04 18:30:00|          cash|   1045714180|2tZAOpxvJlgB|  Germany|
|cf9b6432-8b56-42c...|Style & Co Vern  ...|       style|clothing|      women's shoes|     1400.0|              30|                10|       2|           2520.0|2015-01-04 18:30:00|          amex|   1045715253|9fbao8KypEpz|Hong Kong|
|05eae2f8-0c6a-47c...|Two Lips Swizzle ...|         two|clothing|  all women's shoes|      140.0|              20|                30|       3|            294.0|2015-01-04 18:30:00| dinner's club|   1045716187|lPqADDQ1usd9|  Bahrain|
|e8ffc821-8e90-49d...|Michael Kors Clar...|     michael|clothing|          necklaces|     1750.0|              20|                20|       2|           2800.0|2015-01-04 18:30:00|visa signature|   1045717027|i6uFeCvEA38x|    India|
|28a330c4-23c5-4bb...|Bali 3547 Womens ...|        bali|clothing|    shoes & jewelry|     2660.0|              20|                10|       2|           4788.0|2015-01-04 18:30:00|    mastercard|   1045717057|ROuGH6eRfT8M|  Germany|
|e0cbbd76-d953-479...| Women's Dr Scholl's|dr. scholl's|clothing|  all women's shoes|     3500.0|              10|                30|       3|           7350.0|2015-01-04 18:30:00|          amex|   1045717764|53z4b3TzViDe|    Japan|
|6ffddd0f-457e-450...|Coloriffics Danic...| coloriffics|clothing|women's accessories|     8470.0|              30|                20|       4|          27104.0|2015-01-04 18:30:00|          amex|   1045718272|T5XQRb4pN5lk|    India|
|e8979507-1d96-450...|Timberland Earthk...|  timberland|   shoes|       shoes & bags|    17430.0|             -10|                30|       2|          24402.0|2015-01-04 18:30:00|visa signature|   1045719308|6zD1uOeuAnCH|    India|
+--------------------+--------------------+------------+--------+-------------------+-----------+----------------+------------------+--------+-----------------+-------------------+--------------+-------------+------------+---------+
only showing top 10 rows

In [0]:
from pyspark.sql.functions import *

In [0]:
logs_DF.createTempView("AmazonTable")

In [0]:
spark.sql("select * from AmazonTable where SubCategory = 'mobile'").show(50)

+--------------------+--------------------+----------+-----------+-----------+-----------+----------------+------------------+--------+-----------------+-------------------+--------------+-------------+------------+---------+
|         ProductCode|         Description|     Brand|   Category|SubCategory|ActualPrice|Marginpercentage|Discountpercentage|Quantity|TransactionAmount|        InvoiceDate|          Mode|InvoiceNumber|  CustomerId|  Country|
+--------------------+--------------------+----------+-----------+-----------+-----------+----------------+------------------+--------+-----------------+-------------------+--------------+-------------+------------+---------+
|75c1100b-92f2-416...|Apple iPhone 6S 1...|     apple|electronics|     mobile|    38430.0|              10|                10|       3|         103761.0|2015-01-04 18:30:00| dinner's club|   1045680714|0JxPng6IJEXW|    Japan|
|f2fa233f-78ea-4c4...|BLU Advance 4.0L ...|       blu|electronics|     mobile|    12600.0|              10|                20|       4|          40320.0|2015-01-04 18:30:00|visa signature|   1045683813|939I5z70YvLp|   Poland|
|2d11d548-6fcb-48b...|Dupad Story M7 No...|     dupad|electronics|     mobile|     3500.0|              10|                20|       2|           5600.0|2015-01-04 18:30:00|    mastercard|   1045687318|pYvqIUqRNYGg|   France|
|6796be85-0d90-4af...|HP 16GB Palm Pre ...|      palm|electronics|     mobile|     7000.0|              20|                10|       3|          18900.0|2015-01-04 18:30:00|          visa|   1045688122|W5ONrtuITMqb|  Belgium|
|edc88d03-e672-493...|HTC Arrive 3G QWE...|       htc|electronics|     mobile|    12530.0|              20|                10|       3|          33831.0|2015-01-04 18:30:00|          visa|   1045688414|2IOyqW6YnNig|    Italy|
|4072b408-7ac5-4ea...|HTC One VX Unlock...|       htc|electronics|     mobile|    17500.0|             -20|                30|       1|          12250.0|2015-01-04 18:30:00|    mastercard|   1045689515|zv5MAm4NDvRf|   Brazil|
|224e8248-6e6b-466...|Huawei P9 Lite 16...|    huawei|electronics|     mobile|     9800.0|              20|                10|       4|          35280.0|2015-01-04 18:30:00|          amex|   1045690616|MojREDnueKm1|Australia|
|1a45389b-50b5-4df...|iPhone 3GS 8gb Un...|     apple|electronics|     mobile|     5110.0|              30|                20|       2|           8176.0|2015-01-04 18:30:00| dinner's club|   1045691242|ZQ7QQDpy7vsC|Hong Kong|
|b0c7524a-0f39-417...|  iPhone 7 Plus Case|    iphone|electronics|     mobile|     8400.0|              30|                30|       1|           5880.0|2015-01-04 18:30:00| dinner's club|   1045691320|4tY3OA58aXtS|    India|
|f8d67757-5c6e-4e2...|Kivors R8 6.0 Unl...|    kivors|electronics|     mobile|     5740.0|              20|                10|       3|          15498.0|2015-01-04 18:30:00|          visa|   1045691736|oT5pr56cc3IE|   Canada|
|c55f2a55-8d43-453...|   LG G3 D851 4G LTE|      32gb|electronics|     mobile|    21700.0|              30|                10|       2|          39060.0|2015-01-04 18:30:00|    mastercard|   1045693129|Tdrqvz5ZJfsg|   Israel|
|dbdfca6b-f1c2-4d0...|Moto G Plus (4th ...|  motorola|electronics|     mobile|     9450.0|              30|                30|       3|          19845.0|2015-01-04 18:30:00|          amex|   1045695666|FHHTDvOKlAQ2|  Germany|
|1729504d-0a13-4cb...|Samsung Galaxy A8...|   samsung|electronics|     mobile|     9100.0|              30|                20|       2|          14560.0|2015-01-04 18:30:00|          amex|   1045702868|i0Bv8q9D2cjO|  Bahrain|
|34fed1e5-53be-48f...|Samsung Galaxy J1...|   samsung|electronics|     mobile|    14560.0|             -20|                10|       2|          26208.0|2015-01-04 18:30:00|          amex|   1045703416|5Nr1tsgjI2Vc|  Iceland|
|3c816a01-e755-4a8...|Samsung Galaxy J7...|   samsung|electronics|     mobile|    41930.0|              20|                20|       3|         100632.0|2015-01-04 18:30:00|          cash|   1045703808|VRhCmRMa7Oe6|   Sweden|
|a165e476-d3cb-483...|Samsung Galaxy Me...|   samsung|electronics|     mobile|    24360.0|             -20|                10|       1|          21924.0|2015-01-04 18:30:00|          cash|   1045703881|OqQDn8NzpvyU|Hong Kong|
|1beb3e0f-cfb1-483...|Samsung Galaxy S4...|   samsung|electronics|     mobile|    16380.0|              10|                20|       2|          26208.0|2015-01-04 18:30:00|          visa|   1045705200|7phXTPNZ5rNR|  Belgium|
|f7497063-ec3b-497...|Samsung Galaxy S5...|   samsung|electronics|     mobile|    30240.0|              10|                10|       4|         108864.0|2015-01-04 18:30:00| dinner's club|   1045705674|Wm502rNZJoKj|  Iceland|
|b8aeef6a-cd2b-4ef...|Samsung Galaxy S6...|   samsung|electronics|     mobile|    17780.0|              30|                30|       4|          49784.0|2015-01-04 18:30:00|          cash|   1045706186|aloH8AyMQskM|   France|
|9deb5b78-6ebd-410...|Samsung T959V Vib...|   unknown|electronics|     mobile|     7000.0|              30|                10|       2|          12600.0|2015-01-04 18:30:00| dinner's club|   1045708142|kbN2EHsu39Z8|  Belgium|
|a036714d-10d6-448...| SIAM 7X Dual Screen|      siam|electronics|     mobile|    18900.0|              10|                20|       1|          15120.0|2015-01-04 18:30:00|visa signature|   1045708324|d03nOc2YhpfC|    Italy|
|4f2c2248-b948-4f5...|          Smartwatch|smartwatch|electronics|     mobile|     9100.0|              20|                10|       1|           8190.0|2015-01-04 18:30:00|          visa|   1045708724|VMk6dUphhDxb|   Brazil|
|9ab83bfa-2fcc-4a0...|Sony Xperia M2 Aq...|      sony|electronics|     mobile|    30100.0|              30|                20|       4|          96320.0|2015-01-04 18:30:00|          amex|   1045709439|pFCFemm6uBgY|  Austria|
|612ae0b6-82f3-4b9...|Sprint Blackberry...|blackberry|electronics|     mobile|    21000.0|              10|                20|       2|          33600.0|2015-01-04 18:30:00|          visa|   1045710308|qXVnSBpXNTIR|  Bahrain|
|2fe7c912-6a96-4a2...|SVP Battery for G...|       svp|electronics|     mobile|     2310.0|              10|                10|       2|           4158.0|2015-01-04 18:30:00|          visa|   1045710837|AVQ4AtJSDuqO|   Israel|
|3c77295f-11d5-4a9...|Unlock Nokia 8800...|     nokia|electronics|     mobile|     5600.0|              20|                30|       1|           3920.0|2015-01-04 18:30:00| dinner's club|   1045711353|6HVmdoSWRA0x|    India|
|9f0bb21b-d2e2-45f...|Unnecto Air 5.5 S...|   unnecto|electronics|     mobile|     9240.0|              20|                30|       1|           6468.0|2015-01-04 18:30:00|    mastercard|   1045712019|krlxR1VbYyDs|   France|
|fe7f610e-fd35-4ba...|7''unlocked Dual ...|      dual|electronics|     mobile|     2450.0|              30|                20|       3|           5880.0|2015-01-06 18:30:00|          visa|   1045678649|nX1Y4T2yJOg5|   Brazil|
|e4dfbfe9-e1df-4a4...|Apple iPhone 5c 1...|     apple|electronics|     mobile|    15750.0|             -20|                30|       1|          11025.0|2015-01-06 18:30:00|    mastercard|   1045679599|A8ZvZtORyYbX|  Austria|
|b05989e9-d896-40c...|Apple iPhone 6s 6...|     apple|electronics|     mobile|    35000.0|              10|                10|       2|          63000.0|2015-01-06 18:30:00|          visa|   1045680937|utup6K4b9gmG|   France|
|2d8e719d-d388-49d...|AT&T Motorola RAZ...|  motorola|electronics|     mobile|     1400.0|             -10|                30|       2|           1960.0|2015-01-06 18:30:00|          amex|   1045682082|BrEr0PHt6Pru|Hong Kong|
|40ffdb04-6512-4ba...|BlackBerry Torch ...|blackberry|electronics|     mobile|     4130.0|              20|                30|       1|           2891.0|2015-01-06 18:30:00|          cash|   1045683423|LNp2ei2Xrm59|   Brazil|
|8dca7d12-7966-47f...|Factory Unlocked ...|  motorola|electronics|     mobile|     3920.0|              10|                10|       4|          14112.0|2015-01-06 18:30:00|          visa|   1045687411|ZbaOKBPCJ2Lr|   Poland|
|7d259c6a-6b24-405...|HTC Desire Eye E1...|       htc|electronics|     mobile|     4200.0|              20|                20|       4|          13440.0|2015-01-06 18:30:00|          amex|   1045688657|RXVlfOsZVtlk|  Germany|
|9d0d3374-38de-4da...|JUNING Unlocked S...|    juning|electronics|     mobile|     5180.0|              10|                30|       4|          14504.0|2015-01-06 18:30:00|          visa|   1045691643|2nzOpvp0HdLY|   France|
|e941a97c-85fd-446...|Lenovo VIBE X2 3G...|    lenovo|electronics|     mobile|    17430.0|              10|                20|       2|          27888.0|2015-01-06 18:30:00| dinner's club|   1045692342|rok4gJHliavk|    Japan|
|27fa2b61-d85c-414...|LG enV3 VX9200 Ma...|        lg|electronics|     mobile|    11900.0|              10|                10|       1|          10710.0|2015-01-06 18:30:00|          amex|   1045692727|tbfA3Hovku2W|   France|
|e6de9926-919b-444...|LG Google Nexus 4...|        lg|electronics|     mobile|     7000.0|              20|                10|       4|          25200.0|2015-01-06 18:30:00|    mastercard|   1045693577|OQZdhN3tR6ZM|Singapore|
|7f52b0b9-c023-4e0...|Microsoft Surface...| microsoft|electronics|     mobile|    31500.0|              30|                30|       4|          88200.0|2015-01-06 18:30:00|          cash|   1045695428|R1J3kictIWba|    Italy|
|505a461c-0322-4d7...|Nokia 1280 Dual B...|     nokia|electronics|     mobile|     5530.0|             -10|                20|       2|           8848.0|2015-01-06 18:30:00|visa signature|   1045697687|WCckH8G492ot|Hong Kong|
|d9635db4-20a3-4cb...|Nokia E65 Unlocke...|     nokia|electronics|     mobile|     6370.0|              10|                10|       3|          17199.0|2015-01-06 18:30:00|    mastercard|   1045698672|MTJUdktNigjE|    Italy|
|22794923-fe49-4d0...|Nokia NK530GRY - ...|     nokia|electronics|     mobile|     2100.0|              20|                20|       2|           3360.0|2015-01-06 18:30:00|visa signature|   1045699638|oZCNTvzgZ8yv|   Brazil|
|35461979-80fa-47d...|Nokia X RM-980 Br...|     nokia|electronics|     mobile|     1820.0|              20|                20|       1|           1456.0|2015-01-06 18:30:00|          amex|   1045699649|XvkHZ4TmBh8i|   Sweden|
|89af9366-ad23-488...|OnePlus 3 64gb Gr...|   oneplus|electronics|     mobile|     1190.0|              20|                10|       2|           2142.0|2015-01-06 18:30:00| dinner's club|   1045699802|n0F92gccacDA|   France|
|765ae287-2345-4dd...|OtterBox Defender...|  otterbox|electronics|     mobile|     5460.0|              10|                30|       2|           7644.0|2015-01-06 18:30:00|          amex|   1045700089|5QlqnHxQL5MP|  Iceland|
|ddac78eb-05c3-459...|OtterBox 'Defende...|  otterbox|electronics|     mobile|     6300.0|              30|                20|       1|           5040.0|2015-01-06 18:30:00|          cash|   1045700272|MsVoGUKAQ6vl|  Bahrain|
|7ad8865a-dbca-452...|Que Products 5.0 ...|       que|electronics|     mobile|     9100.0|              20|                20|       1|           7280.0|2015-01-06 18:30:00| dinner's club|   1045701825|IZ0EhfhAZyF2|   Poland|
|5f261592-4298-437...|Samsung Galaxy A5...|   samsung|electronics|     mobile|    11900.0|              20|                10|       3|          32130.0|2015-01-06 18:30:00|          amex|   1045702743|FafNXLG4W16z|  Iceland|
|43f14410-8dca-487...|Samsung Galaxy Ex...|   samsung|electronics|     mobile|     9450.0|              30|                10|       1|           8505.0|2015-01-06 18:30:00| dinner's club|   1045703088|5uqYhdgqfH5J|   France|
|2054762c-83ce-4e5...|Samsung Galaxy S5...|   samsung|electronics|     mobile|    45500.0|              20|                30|       1|          31850.0|2015-01-06 18:30:00|          visa|   1045705589|cF3zeGj2qMX0|   Israel|
+--------------------+--------------------+----------+-----------+-----------+-----------+----------------+------------------+--------+-----------------+-------------------+--------------+-------------+------------+---------+
only showing top 50 rows

##### 1 a)Find the top five performing mobile brands for the months of November, December and January r each year.

In [0]:
spark.sql("create table PhoneBrandtable1 as select InvoiceDate, Brand, Category, SubCategory, Quantity from AmazonTable where SubCategory='mobile' and MONTH(DATE(InvoiceDate)) in (01,11,12)")

Out[30]: DataFrame[num_affected_rows: bigint, num_inserted_rows: bigint]

In [0]:
spark.sql("create table brandTable1 select YEAR(DATE(InvoiceDate)) as yearOfSale, MONTH(DATE(InvoiceDate)) as monthOfSale, Brand, sum(Quantity) as quantity from PhoneBrandTable1 group by Brand,InvoiceDate order by Brand").show(100)

+-----------------+-----------------+
|num_affected_rows|num_inserted_rows|
+-----------------+-----------------+
+-----------------+-----------------+

In [0]:
spark.sql("select * from brandTable1 order by yearOfSale, monthOfSale").show()

+----------+-----------+-------+--------+
|yearOfSale|monthOfSale|  Brand|quantity|
+----------+-----------+-------+--------+
|      2015|          1|  apple|      13|
|      2015|          1|  black|       3|
|      2015|          1|  apple|      39|
|      2015|          1|   32gb|       2|
|      2015|          1|  apple|      35|
|      2015|          1|   acer|       2|
|      2015|          1|  apple|       6|
|      2015|          1|   aeku|       1|
|      2015|          1|  apple|       6|
|      2015|          1|alcatel|       3|
|      2015|          1|  apple|       5|
|      2015|          1|   andy|       2|
|      2015|          1|  apple|       7|
|      2015|          1|  apple|       7|
|      2015|          1|  apple|      31|
|      2015|          1|  apple|      29|
|      2015|          1|   at&t|       4|
|      2015|          1|  argom|       2|
|      2015|          1|   acer|       4|
|      2015|          1|  argom|       2|
+----------+-----------+-------+--------+
only showing top 20 rows

In [0]:
spark.sql("create table ymSaleTable as select yearOfSale, monthOfSale, Brand, sum(quantity) as quantity from brandTable where yearOfSale=2015 and monthOfsale = 1 group by monthOfSale, yearOfSale, Brand order by yearOfSale, monthOfSale, quantity desc limit 5").show()

+-----------------+-----------------+
|num_affected_rows|num_inserted_rows|
+-----------------+-----------------+
+-----------------+-----------------+

In [0]:
spark.sql("select * from ymSaleTable").show()

+----------+-----------+--------+--------+
|yearOfSale|monthOfSale|   Brand|quantity|
+----------+-----------+--------+--------+
|      2015|          1| samsung|     377|
|      2015|          1|   apple|     223|
|      2015|          1|   nokia|     168|
|      2015|          1|     blu|     148|
|      2015|          1|motorola|     127|
+----------+-----------+--------+--------+

In [0]:
spark.sql("Insert into ymSaleTable(yearOfSale, monthOfSale, Brand, quantity) select yearOfSale, monthOfSale, Brand, sum(quantity) as quantity from brandTable where yearOfSale=2015 and monthOfsale = 11 group by monthOfSale, yearOfSale, Brand order by yearOfSale, monthOfSale, quantity desc limit 5").show()

+-----------------+-----------------+
|num_affected_rows|num_inserted_rows|
+-----------------+-----------------+
|                5|                5|
+-----------------+-----------------+

In [0]:
spark.sql("select * from ymSaleTable").show()

+----------+-----------+--------+--------+
|yearOfSale|monthOfSale|   Brand|quantity|
+----------+-----------+--------+--------+
|      2015|          1| samsung|     377|
|      2015|          1|   apple|     223|
|      2015|          1|   nokia|     168|
|      2015|          1|     blu|     148|
|      2015|          1|motorola|     127|
|      2015|         11| samsung|     448|
|      2015|         11|     blu|     234|
|      2015|         11|   apple|     200|
|      2015|         11|   nokia|     185|
|      2015|         11|      lg|     165|
+----------+-----------+--------+--------+

In [0]:
spark.sql("Insert into ymSaleTable(yearOfSale, monthOfSale, Brand, quantity) select yearOfSale, monthOfSale, Brand, sum(quantity) as quantity from brandTable where yearOfSale=2015 and monthOfsale = 12 group by monthOfSale, yearOfSale, Brand order by yearOfSale, monthOfSale, quantity desc limit 5").show()

+-----------------+-----------------+
|num_affected_rows|num_inserted_rows|
+-----------------+-----------------+
|                5|                5|
+-----------------+-----------------+

In [0]:
spark.sql("Insert into ymSaleTable(yearOfSale, monthOfSale, Brand, quantity) select yearOfSale, monthOfSale, Brand, sum(quantity) as quantity from brandTable where yearOfSale=2018 and monthOfsale = 12 group by monthOfSale, yearOfSale, Brand order by yearOfSale, monthOfSale, quantity desc limit 5").show()

+-----------------+-----------------+
|num_affected_rows|num_inserted_rows|
+-----------------+-----------------+
|                0|                0|
+-----------------+-----------------+

##### 1 a)Find the top five performing mobile brands for the months of November, December and January r each year.

In [0]:
spark.sql("select * from ymSaleTable order by yearOfSale, monthOfSale, Quantity desc").show(60)

+----------+-----------+--------+--------+
|yearOfSale|monthOfSale|   Brand|quantity|
+----------+-----------+--------+--------+
|      2015|          1| samsung|     377|
|      2015|          1|   apple|     223|
|      2015|          1|   nokia|     168|
|      2015|          1|     blu|     148|
|      2015|          1|motorola|     127|
|      2015|         11| samsung|     448|
|      2015|         11|     blu|     234|
|      2015|         11|   apple|     200|
|      2015|         11|   nokia|     185|
|      2015|         11|      lg|     165|
|      2015|         12| samsung|     517|
|      2015|         12|     blu|     249|
|      2015|         12|   nokia|     212|
|      2015|         12|   apple|     184|
|      2015|         12|     htc|     158|
|      2016|          1| samsung|     361|
|      2016|          1|   apple|     216|
|      2016|          1|     blu|     171|
|      2016|          1|   nokia|     159|
|      2016|          1|      lg|     145|
|      2016|         11| samsung|     410|
|      2016|         11|     blu|     204|
|      2016|         11|   apple|     178|
|      2016|         11|motorola|     133|
|      2016|         11|   nokia|     127|
|      2016|         12| samsung|     353|
|      2016|         12|     blu|     186|
|      2016|         12|   apple|     168|
|      2016|         12|     htc|     130|
|      2016|         12|      lg|     124|
|      2017|          1| samsung|     395|
|      2017|          1|     blu|     156|
|      2017|          1|   apple|     129|
|      2017|          1|   nokia|     120|
|      2017|          1|     htc|     117|
|      2017|         11| samsung|     353|
|      2017|         11|     blu|     212|
|      2017|         11|   apple|     162|
|      2017|         11|      lg|     134|
|      2017|         11|     htc|     129|
|      2017|         12| samsung|     326|
|      2017|         12|   apple|     154|
|      2017|         12|     blu|     127|
|      2017|         12|   nokia|     107|
|      2017|         12|      lg|      81|
|      2018|          1| samsung|     434|
|      2018|          1|     blu|     205|
|      2018|          1|   apple|     204|
|      2018|          1|      lg|     156|
|      2018|          1|   nokia|     142|
+----------+-----------+--------+--------+

1b)Find the top five selling products for the months of November, December and January for each year.

In [0]:
spark.sql("create table Producttable as select InvoiceDate, ProductCode, Description, Category, Quantity from AmazonTable where MONTH(DATE(InvoiceDate)) in (01,11,12)")

Out[90]: DataFrame[num_affected_rows: bigint, num_inserted_rows: bigint]

In [0]:
spark.sql("select * from Producttable").show()

+-------------------+--------------------+--------------------+--------+--------+
|        InvoiceDate|         ProductCode|         Description|Category|Quantity|
+-------------------+--------------------+--------------------+--------+--------+
|2015-01-04 18:30:00|e6fa885e-5f14-4e8...|Landau Pants 2xl ...|   shoes|       3|
|2015-01-04 18:30:00|7792c28f-2f9b-48b...|Adult Womens Sexy...|   shoes|       2|
|2015-01-04 18:30:00|7c478913-348f-4f3...|Woolrich Miss Luc...|clothing|       3|
|2015-01-04 18:30:00|cf9b6432-8b56-42c...|Style & Co Vern  ...|clothing|       2|
|2015-01-04 18:30:00|05eae2f8-0c6a-47c...|Two Lips Swizzle ...|clothing|       3|
|2015-01-04 18:30:00|e8ffc821-8e90-49d...|Michael Kors Clar...|clothing|       2|
|2015-01-04 18:30:00|28a330c4-23c5-4bb...|Bali 3547 Womens ...|clothing|       2|
|2015-01-04 18:30:00|e0cbbd76-d953-479...| Women's Dr Scholl's|clothing|       3|
|2015-01-04 18:30:00|6ffddd0f-457e-450...|Coloriffics Danic...|clothing|       4|
|2015-01-04 18:30:00|e8979507-1d96-450...|Timberland Earthk...|   shoes|       2|
|2015-01-04 18:30:00|6336ab5f-3511-46e...|Women's Quilted F...|   shoes|       2|
|2015-01-04 18:30:00|46becc6e-c0b1-4c3...|Peacock & Blossom...|clothing|       2|
|2015-01-04 18:30:00|41717d5d-cc66-44c...|Bar Iii Women's A...|clothing|       4|
|2015-01-04 18:30:00|262cda29-f796-418...|Michael Antonio G...|clothing|       1|
|2015-01-04 18:30:00|beab0504-84a4-4c7...|Excell 12 Pairs o...|clothing|       3|
|2015-01-04 18:30:00|c3aa0e7a-0493-4e2...|Vans Unisex Low T...|clothing|       4|
|2015-01-04 18:30:00|d0e2aa96-2e37-4d9...|Nwt Be Wicked 3pc...|clothing|       2|
|2015-01-04 18:30:00|88659d5e-4453-44a...|Toms Glitter Clas...|   shoes|       1|
|2015-01-04 18:30:00|fd5ec201-fe74-49c...|       Women's Earth|clothing|       4|
|2015-01-04 18:30:00|f1db4e44-44e4-450...|Tretorn Skymra Sl...|clothing|       4|
+-------------------+--------------------+--------------------+--------+--------+
only showing top 20 rows

In [0]:
spark.sql("create table pTable select YEAR(DATE(InvoiceDate)) as yearOfSale, MONTH(DATE(InvoiceDate)) as monthOfSale, Description, sum(Quantity) as quantity from Producttable group by Description,InvoiceDate order by Description").show(100)

+-----------------+-----------------+
|num_affected_rows|num_inserted_rows|
+-----------------+-----------------+
+-----------------+-----------------+

In [0]:
spark.sql("select * from pTable").show()

+----------+-----------+--------------------+--------+
|yearOfSale|monthOfSale|         Description|quantity|
+----------+-----------+--------------------+--------+
|      2017|         12|#brand New# Calla...|       4|
|      2015|         11|$125 Brand New - ...|       4|
|      2015|         11|$125 Brand New - ...|       4|
|      2017|          1|$125 Brand New - ...|       4|
|      2016|         11|$125 Brand New - ...|       4|
|      2018|          1|$125 Lauren Ralph...|       1|
|      2017|         12|$125 Lauren Ralph...|       1|
|      2017|          1|$125 Lauren Ralph...|       1|
|      2016|          1|$125 Lauren Ralph...|       1|
|      2016|          1|$125 Lauren Ralph...|       1|
|      2015|          1|$125 Lauren Ralph...|       1|
|      2015|         11|$125 Nwt Nautica ...|       3|
|      2017|         12|$125 Nwt Nautica ...|       3|
|      2017|          1|$125 Nwt Nautica ...|       3|
|      2015|         12|$125 Nwt Nautica ...|       6|
|      2016|         12|$125 Nwt Nautica ...|       1|
|      2016|         12|$125 Nwt Nautica ...|       1|
|      2016|          1|$125 Nwt Nautica ...|       1|
|      2017|         11|$125 Polo Ralph L...|       1|
|      2015|          1|$125 Polo Ralph L...|       4|
+----------+-----------+--------------------+--------+
only showing top 20 rows

In [0]:
spark.sql("drop table ProductSaleTable")

Out[102]: DataFrame[]

In [0]:
spark.sql("create table ProductSaleTable as select yearOfSale, monthOfSale, Description, sum(quantity) as quantity from pTable where yearOfSale=2015 and monthOfsale = 1 group by monthOfSale, yearOfSale, Description order by yearOfSale, monthOfSale, quantity desc limit 5").show()

+-----------------+-----------------+
|num_affected_rows|num_inserted_rows|
+-----------------+-----------------+
+-----------------+-----------------+

In [0]:
spark.sql("Insert into ProductSaleTable(yearOfSale, monthOfSale, Description, quantity) select yearOfSale, monthOfSale, Description, sum(quantity) as quantity from pTable where yearOfSale=2015 and monthOfsale = 11 group by monthOfSale, yearOfSale, Description order by yearOfSale, monthOfSale, quantity desc limit 5")
spark.sql("Insert into ProductSaleTable(yearOfSale, monthOfSale, Description, quantity) select yearOfSale, monthOfSale, Description, sum(quantity) as quantity from pTable where yearOfSale=2015 and monthOfsale = 12 group by monthOfSale, yearOfSale, Description order by yearOfSale, monthOfSale, quantity desc limit 5")
spark.sql("Insert into ProductSaleTable(yearOfSale, monthOfSale, Description, quantity) select yearOfSale, monthOfSale, Description, sum(quantity) as quantity from pTable where  yearOfSale=2016 and monthOfsale = 1 group by monthOfSale, yearOfSale, Description order by yearOfSale, monthOfSale, quantity desc limit 5")
spark.sql("Insert into ProductSaleTable(yearOfSale, monthOfSale, Description, quantity) select yearOfSale, monthOfSale, Description, sum(quantity) as quantity from pTable where  yearOfSale=2016 and monthOfsale = 11 group by monthOfSale, yearOfSale, Description order by yearOfSale, monthOfSale, quantity desc limit 5")
spark.sql("Insert into ProductSaleTable(yearOfSale, monthOfSale, Description, quantity) select yearOfSale, monthOfSale, Description, sum(quantity) as quantity from pTable where  yearOfSale=2016 and monthOfsale = 12 group by monthOfSale, yearOfSale, Description order by yearOfSale, monthOfSale, quantity desc limit 5")
spark.sql("Insert into ProductSaleTable(yearOfSale, monthOfSale, Description, quantity) select yearOfSale, monthOfSale, Description, sum(quantity) as quantity from pTable where yearOfSale=2017 and monthOfsale = 1 group by monthOfSale, yearOfSale, Description order by yearOfSale, monthOfSale, quantity desc limit 5").show()
spark.sql("Insert into ProductSaleTable(yearOfSale, monthOfSale, Description, quantity) select yearOfSale, monthOfSale, Description, sum(quantity) as quantity from pTable where  yearOfSale=2017 and monthOfsale = 11 group by monthOfSale, yearOfSale, Description order by yearOfSale, monthOfSale, quantity desc limit 5").show()
spark.sql("Insert into ProductSaleTable(yearOfSale, monthOfSale, Description, quantity) select yearOfSale, monthOfSale, Description, sum(quantity) as quantity from pTable where  yearOfSale=2017 and monthOfsale = 12 group by monthOfSale, yearOfSale, Description order by yearOfSale, monthOfSale, quantity desc limit 5").show()
spark.sql("Insert into ProductSaleTable(yearOfSale, monthOfSale, Description, quantity) select yearOfSale, monthOfSale, Description, sum(quantity) as quantity from pTable where  yearOfSale=2018 and monthOfsale = 1 group by monthOfSale, yearOfSale, Description order by yearOfSale, monthOfSale,quantity desc limit 5").show()
spark.sql("Insert into ProductSaleTable(yearOfSale, monthOfSale, Description, quantity) select yearOfSale, monthOfSale, Description, sum(quantity) as quantity from pTable where  yearOfSale=2018 and monthOfsale = 11 group by monthOfSale, yearOfSale, Description order by yearOfSale, monthOfSale, quantity desc limit 5").show()
spark.sql("Insert into ProductSaleTable(yearOfSale, monthOfSale, Description, quantity) select yearOfSale, monthOfSale, Description, sum(quantity) as quantity from pTable where yearOfSale=2018 and monthOfsale = 12 group by monthOfSale, yearOfSale, Description order by yearOfSale, monthOfSale, quantity desc limit 5").show()

+-----------------+-----------------+
|num_affected_rows|num_inserted_rows|
+-----------------+-----------------+
|                5|                5|
+-----------------+-----------------+

+-----------------+-----------------+
|num_affected_rows|num_inserted_rows|
+-----------------+-----------------+
|                5|                5|
+-----------------+-----------------+

+-----------------+-----------------+
|num_affected_rows|num_inserted_rows|
+-----------------+-----------------+
|                5|                5|
+-----------------+-----------------+

+-----------------+-----------------+
|num_affected_rows|num_inserted_rows|
+-----------------+-----------------+
|                5|                5|
+-----------------+-----------------+

+-----------------+-----------------+
|num_affected_rows|num_inserted_rows|
+-----------------+-----------------+
|                0|                0|
+-----------------+-----------------+

+-----------------+-----------------+
|num_affected_rows|num_inserted_rows|
+-----------------+-----------------+
|                0|                0|
+-----------------+-----------------+

##### 1b)Find the top five selling products for the months of November, December and January for each year.

In [0]:
spark.sql("select * from ProductSaleTable order by yearOfSale, monthOfSale, Quantity desc").show(60)

+----------+-----------+--------------------+--------+
|yearOfSale|monthOfSale|         Description|quantity|
+----------+-----------+--------------------+--------+
|      2015|          1|Nina Women's Mari...|      12|
|      2015|          1|OnePlus 2 Unlocke...|      12|
|      2015|          1|Reebok Pro Evalua...|      12|
|      2015|          1|Topbest Battery C...|      12|
|      2015|          1|Shoes of Soul Wom...|      12|
|      2015|         11|Vans Unisex Sk8-h...|      12|
|      2015|         11|Nokia 2700 Classi...|      12|
|      2015|         11|Nike Mens Air Foa...|      12|
|      2015|         11|verykool Cyprus L...|      12|
|      2015|         11|Propper Mens Coyo...|      12|
|      2015|         12|Nike Women's Flex...|      16|
|      2015|         12|Yu&yu Women's Sho...|      16|
|      2015|         12|Jessica Simpson B...|      16|
|      2015|         12|HTC One E9 Plus d...|      16|
|      2015|         12|Style & Co Tiffan...|      12|
|      2016|          1|               15.95|      16|
|      2016|          1|Sas Women's Criss...|      16|
|      2016|          1|Style & Co. Women...|      12|
|      2016|          1|Samsung Behold T9...|      12|
|      2016|          1|Posh Mobile TITAN...|      12|
|      2016|         11|Flylow Gear Betty...|      16|
|      2016|         11|Mens Briefcase Pu...|      16|
|      2016|         11|New Men's Mizuno ...|      16|
|      2016|         11|Nike Kobe Mentali...|      12|
|      2016|         11|Mizuno Wave Legen...|      12|
|      2016|         12|Faded Glory Men's...|      16|
|      2016|         12|Fossa Apparel 555...|      16|
|      2016|         12|Superior Glove Wo...|      12|
|      2016|         12|Ugg Women's Jayne...|      12|
|      2016|         12|Nwt Men's Sz 36x3...|      12|
|      2017|          1|Propet Vista Stra...|      12|
|      2017|          1|Twobirch Gorgeous...|      12|
|      2017|          1|XPS 8920 Tower De...|      12|
|      2017|          1|NS-PA40 5.1-Chann...|      12|
|      2017|          1|Moto X Pure Editi...|      12|
|      2017|         11|             Size 14|      20|
|      2017|         11|Magliner 302682 A...|      16|
|      2017|         11|Jewelsobsession's...|      16|
|      2017|         11|Icebreaker Men's ...|      16|
|      2017|         11|Crevo Boardwalk M...|      15|
|      2017|         12|Avia Men's Endeav...|      16|
|      2017|         12|Kamik Seattle   R...|      16|
|      2017|         12|Women's Beach T-t...|      12|
|      2017|         12|Yamaha - Natural ...|      12|
|      2017|         12|Sneed- Women's Da...|      12|
|      2018|          1|Usmonon Fashion A...|      16|
|      2018|          1|Samsung Galaxy S6...|      12|
|      2018|          1|Martin Tools Spro...|      12|
|      2018|          1|Yu&yu Women's Sho...|      12|
|      2018|          1|Stafford 0804  Me...|      12|
+----------+-----------+--------------------+--------+

#####2. Give valuable insights to the investors

#####a. Number of products sold along with revenue aggregated quarterly

In [0]:
spark.sql("select Quarter(InvoiceDate) as quarterer, YEAR(DATE(InvoiceDate)) as yearOfSale, Description, count(Quantity) as productSold, sum(TransactionAmount) as Revenue from AmazonTable group by quarterer,Description, yearOfSale order by Revenue desc").show(60)

+---------+----------+--------------------+-----------+-------------+
|quarterer|yearOfSale|         Description|productSold|      Revenue|
+---------+----------+--------------------+-----------+-------------+
|        3|      2016|Pioneer Avh-x3800...|          3|4.83210006E14|
|        1|      2018|Pioneer Avh-x3800...|          3|4.83210006E14|
|        4|      2016|Pioneer Avh-x3800...|          2|3.22140004E14|
|        4|      2017|Pioneer Avh-x3800...|          2|3.22140004E14|
|        2|      2016|Pioneer Avh-x3800...|          2|3.22140004E14|
|        2|      2015|Pioneer Avh-x3800...|          1|1.61070002E14|
|        1|      2016|Pioneer Avh-x3800...|          1|1.61070002E14|
|        4|      2017|Annie Shoes 6200 ...|          2|    1.16872E7|
|        1|      2016|Aquaracer Mens Watch|          3|    7206738.0|
|        2|      2017|Nike Womens Flykn...|          2|    6543852.0|
|        3|      2015|Nike Womens Flykn...|          2|    6543852.0|
|        2|      2016|Annie Shoes 6200 ...|          1|    5843600.0|
|        3|      2016|Annie Shoes 6200 ...|          1|    5843600.0|
|        2|      2017|Annie Shoes 6200 ...|          1|    5843600.0|
|        3|      2015|Annie Shoes 6200 ...|          1|    5843600.0|
|        2|      2015|Sexy Adult Women ...|          4|    4969776.0|
|        1|      2018|Aquaracer Mens Watch|          2|    4804492.0|
|        1|      2015|Sexy Adult Women ...|          3|    3727332.0|
|        2|      2016|Sexy Adult Women ...|          3|    3727332.0|
|        3|      2017|Nike Womens Flykn...|          1|    3271926.0|
|        1|      2016|Nike Womens Flykn...|          1|    3271926.0|
|        1|      2017|Nike Womens Flykn...|          1|    3271926.0|
|        4|      2017|Nike Womens Flykn...|          1|    3271926.0|
|        4|      2016|Nike Womens Flykn...|          1|    3271926.0|
|        2|      2016|Nike Womens Flykn...|          1|    3271926.0|
|        4|      2017|Twobirch Double R...|          3|    2820048.0|
|        4|      2017|Yu&yu Women's Sho...|          4|    2760800.0|
|        2|      2017|Sexy Adult Women ...|          2|    2484888.0|
|        1|      2017|Sexy Adult Women ...|          2|    2484888.0|
|        3|      2016|Refurbished Samsu...|          4|    2475200.0|
|        2|      2015|Aquaracer Mens Watch|          1|    2402246.0|
|        1|      2017|Aquaracer Mens Watch|          1|    2402246.0|
|        4|      2017|Aquaracer Mens Watch|          1|    2402246.0|
|        1|      2015|Aquaracer Mens Watch|          1|    2402246.0|
|        4|      2016|Aquaracer Mens Watch|          1|    2402246.0|
|        2|      2016|Aquaracer Mens Watch|          1|    2402246.0|
|        1|      2018|Yu&yu Women's Sho...|          3|    2070600.0|
|        2|      2015|Yamaha - Natural ...|          4|    1960000.0|
|        2|      2017|Twobirch Double R...|          2|    1880032.0|
|        2|      2016|Valanty Sheepskin...|          3|    1635606.0|
|        2|      2016|Brand New Mime Ad...|          3|    1561560.0|
|        1|      2017|Brand New Mime Ad...|          3|    1561560.0|
|        3|      2016|Zigi Soho Duran W...|          3|    1551732.0|
|        1|      2015|            Bravo-10|          4|    1533840.0|
|        4|      2016|            Bravo-10|          4|    1533840.0|
|        3|      2017|Lauren Ralph Laur...|          3|    1475628.0|
|        1|      2015|Yamaha - Natural ...|          3|    1470000.0|
|        2|      2016|Charles David Wom...|          3|    1385538.0|
|        1|      2018|Charles David Wom...|          3|    1385538.0|
|        2|      2015|Charles David Wom...|          3|    1385538.0|
|        3|      2017|Yu&yu Women's Sho...|          2|    1380400.0|
|        1|      2017|Yu&yu Women's Sho...|          2|    1380400.0|
|        4|      2015|Yu&yu Women's Sho...|          2|    1380400.0|
|        3|      2016|Yu&yu Women's Sho...|          2|    1380400.0|
|        2|      2015|Yu&yu Women's Sho...|          2|    1380400.0|
|        4|      2016|SunBriteTV - Sign...|          4|    1332800.0|
|        1|      2016|Leica DG Vario-El...|          4|    1308944.0|
|        4|      2015|Sexy Adult Women ...|          1|    1242444.0|
|        1|      2018|Sexy Adult Women ...|          1|    1242444.0|
|        4|      2017|Sexy Adult Women ...|          1|    1242444.0|
+---------+----------+--------------------+-----------+-------------+
only showing top 60 rows

##### 2.b) No of product sold along with category aggregated quaterly

In [0]:
spark.sql("select Quarter(InvoiceDate) as quarterer, YEAR(DATE(InvoiceDate)) as yearOfSale, Category, count(Quantity) as productSold, sum(TransactionAmount-ActualPrice) as Revenue from AmazonTable group by quarterer,Category, yearOfSale order by productSold desc").show(60)

+---------+----------+-------------+-----------+-------------------+
|quarterer|yearOfSale|     Category|productSold|            Revenue|
+---------+----------+-------------+-----------+-------------------+
|        1|      2016|     clothing|      15340|       1.15214575E8|
|        4|      2017|     clothing|      13890|       1.12093765E8|
|        1|      2017|     clothing|      13621|       1.00434327E8|
|        3|      2016|     clothing|      13358|        9.7926038E7|
|        4|      2015|     clothing|      13353|        9.0226346E7|
|        2|      2017|     clothing|      13244|       1.03454897E8|
|        3|      2015|     clothing|      13201|       1.03834724E8|
|        1|      2018|     clothing|      13050|        9.5143986E7|
|        2|      2015|     clothing|      12993|        9.2899422E7|
|        1|      2015|     clothing|      12961|        9.3573375E7|
|        4|      2016|     clothing|      12753|        9.3606247E7|
|        2|      2016|     clothing|      12424|       1.03063303E8|
|        3|      2017|     clothing|      12246|        8.7576958E7|
|        4|      2015|  electronics|       3952|          6.53324E7|
|        2|      2017|  electronics|       3540|        6.0091367E7|
|        4|      2016|  electronics|       3448|3.22140062095674E14|
|        3|      2016|  electronics|       3347|4.83210064223725E14|
|        2|      2016|  electronics|       3341|3.22140058604928E14|
|        1|      2017|  electronics|       3312|        5.4005266E7|
|        1|      2016|  electronics|       3159|1.61070057243923E14|
|        3|      2017|  electronics|       3120|        5.1701867E7|
|        1|      2015|  electronics|       3105|        5.5418405E7|
|        1|      2018|  electronics|       3041| 4.8321005540019E14|
|        4|      2017|  electronics|       3021|3.22140053477365E14|
|        3|      2015|  electronics|       2974|        4.9626752E7|
|        2|      2015|  electronics|       2937|1.61070052241576E14|
|        4|      2017|        shoes|       1014|          7588966.0|
|        1|      2016|        shoes|       1003|          4964897.0|
|        2|      2018|     clothing|        953|          5951064.0|
|        1|      2017|        shoes|        946|          6299426.0|
|        3|      2015|        shoes|        915|          5436060.0|
|        2|      2015|        shoes|        905|          6027007.0|
|        3|      2016|        shoes|        898|          6321728.0|
|        4|      2015|        shoes|        893|          5801936.0|
|        2|      2016|        shoes|        893|          5113192.0|
|        1|      2015|        shoes|        889|          4079705.0|
|        2|      2017|        shoes|        842|          5585027.0|
|        1|      2018|        shoes|        781|          6072941.0|
|        3|      2017|        shoes|        766|          5492774.0|
|        4|      2016|        shoes|        758|          4212635.0|
|        2|      2018|  electronics|        594|          8487948.0|
|        2|      2018|        shoes|         34|           159131.0|
|        4|      2016|    furniture|          2|            79380.0|
|        3|      2016|    furniture|          2|            79380.0|
|        4|      2017|apple carplay|          2|           110880.0|
|        1|      2018|apple carplay|          2|           110880.0|
|        1|      2015|apple carplay|          1|            55440.0|
|        4|      2015|    furniture|          1|            39690.0|
|        1|      2016|apple carplay|          1|            55440.0|
|        4|      2017|    furniture|          1|            39690.0|
|        2|      2016|    furniture|          1|            39690.0|
|        1|      2017|apple carplay|          1|            55440.0|
|        4|      2016|apple carplay|          1|            55440.0|
|        2|      2017|    furniture|          1|            39690.0|
|        2|      2017|apple carplay|          1|            55440.0|
|        3|      2017|    furniture|          1|            39690.0|
+---------+----------+-------------+-----------+-------------------+

##### 2c) Number of Product sold for each brand aggregated quaterly

In [0]:
spark.sql("select Quarter(InvoiceDate) as quarterer,YEAR(DATE(InvoiceDate)) as yearOfSale, Brand, sum(Quantity) as productSold, sum(TransactionAmount-ActualPrice) as Revenue from AmazonTable group by Brand,quarterer,yearOfSale order by productSold desc").show(60)

+---------+----------+-------+-----------+-----------+
|quarterer|yearOfSale|  Brand|productSold|    Revenue|
+---------+----------+-------+-----------+-----------+
|        1|      2016|   nike|       2902| 1.221997E7|
|        1|      2017|   nike|       2743|1.0546984E7|
|        2|      2017|   nike|       2731|1.4116333E7|
|        4|      2016|   nike|       2729| 1.150198E7|
|        4|      2017|   nike|       2645|1.0897222E7|
|        1|      2015|   nike|       2642|  7757197.0|
|        1|      2018|   nike|       2623|  8330112.0|
|        3|      2016|   nike|       2544|  7736470.0|
|        4|      2015|   nike|       2520|  7608783.0|
|        3|      2015|   nike|       2520|1.4418579E7|
|        2|      2016|   nike|       2399|1.0279059E7|
|        2|      2015|   nike|       2336|  7377734.0|
|        3|      2017|   nike|       2330|1.0392053E7|
|        4|      2015|samsung|       1536|1.3020315E7|
|        2|      2017|samsung|       1463|1.4624274E7|
|        3|      2016|samsung|       1434| 1.419453E7|
|        3|      2017|samsung|       1349|1.2174841E7|
|        4|      2016|samsung|       1334|1.2451516E7|
|        1|      2017|samsung|       1302|1.1261838E7|
|        1|      2016|samsung|       1237| 1.234632E7|
|        2|      2016|samsung|       1231|1.1403161E7|
|        1|      2015|samsung|       1174|1.1830938E7|
|        2|      2015|samsung|       1150| 1.117522E7|
|        1|      2018|samsung|       1144|  9016133.0|
|        4|      2017|samsung|       1140|1.0145303E7|
|        3|      2015|samsung|       1088|1.1058117E7|
|        1|      2016|    new|        873|  1692803.0|
|        1|      2018|   puma|        814|  1992767.0|
|        4|      2017|   puma|        790|  1951271.0|
|        1|      2016|   puma|        783|  1627598.0|
|        4|      2015|   puma|        776|  1887627.0|
|        2|      2017|   puma|        773|  1887872.0|
|        3|      2015|    new|        745|  1668037.0|
|        2|      2015|   puma|        745|  1562617.0|
|        4|      2016|   puma|        744|  1777111.0|
|        3|      2015|   puma|        737|  1947120.0|
|        1|      2017|    new|        736|  1513932.0|
|        4|      2017|    new|        732|  1483839.0|
|        2|      2016|    new|        726|  1294734.0|
|        2|      2015|    new|        723|  1569932.0|
|        3|      2017|    new|        717|  1699166.0|
|        4|      2015|    new|        706|  1896615.0|
|        1|      2017|   puma|        706|  1499778.0|
|        3|      2016|    new|        705|  1633023.0|
|        1|      2018|    new|        703|  1441300.0|
|        3|      2016|   puma|        696|  1199359.0|
|        4|      2015|    blu|        696|  3691660.0|
|        4|      2016|    new|        685|  1318485.0|
|        2|      2016|   puma|        682|  1670186.0|
|        4|      2015|  apple|        672|  7512736.0|
|        2|      2017|    new|        659|  1327123.0|
|        1|      2015|  apple|        646|  6738858.0|
|        1|      2015|    new|        634|  1327998.0|
|        4|      2016|  apple|        622|  6697607.0|
|        1|      2015|   puma|        618|  1437373.0|
|        1|      2016|   vans|        613|  1653029.0|
|        2|      2017|  apple|        612|  6665743.0|
|        3|      2016|  apple|        611|  7238630.0|
|        2|      2017|    blu|        607|  4037404.0|
|        4|      2015|  nokia|        600|  3144722.0|
+---------+----------+-------+-----------+-----------+
only showing top 60 rows

##### 3.a) Top 5 profit margin generating percentage

In [0]:
spark.sql("select Description, sum(Marginpercentage) as Profit, YEAR(DATE(InvoiceDate)) as yearOfSale, MONTH(DATE(InvoiceDate)) as monthOfSale from AmazonTable group by Description, InvoiceDate, monthOfSale order by Profit desc").show()

+--------------------+------+----------+-----------+
|         Description|Profit|yearOfSale|monthOfSale|
+--------------------+------+----------+-----------+
|Us Men's Vintage ...|    60|      2015|          2|
|Leica DG Vario-El...|    60|      2016|          2|
|Marc Fisher Hien ...|    40|      2017|          7|
|Samsung Galaxy J2...|    40|      2015|          3|
|A2 By Aerosoles B...|    40|      2015|          4|
|4G-Unlocked Huawe...|    40|      2015|         10|
|Allrounder By Mep...|    40|      2015|          4|
|David Donahue Men...|    40|      2015|          1|
|Size 8-1/2 Work B...|    40|      2015|          8|
|Seek Optics Seek ...|    40|      2016|         11|
|Women's Ara Rosal...|    40|      2015|         12|
|'betty' Slipper (...|    40|      2016|          2|
|Bcbgeneration Kae...|    40|      2016|          8|
|Norcross Safety P...|    40|      2016|          5|
|Yu&yu Women's Sho...|    40|      2016|          8|
|New Oakley Sungla...|    40|      2016|         10|
|New Genuine Ray B...|    40|      2016|         11|
|Vans Era   Round ...|    40|      2017|          5|
|RIM BlackBerry 88...|    40|      2017|          5|
|TL-SG108 8-Port 1...|    40|      2017|          7|
+--------------------+------+----------+-----------+
only showing top 20 rows

##### 4. a)Brand wise seggregation of best performing categories profit wise

In [0]:
spark.sql("select Brand, sum(TransactionAmount) as profits from AmazonTable group by Brand order by profits desc").show(60)

+----------+--------------------+
|     Brand|             profits|
+----------+--------------------+
|   pioneer|2.254980029415246E15|
|   samsung|        1.56318183E8|
|      nike|        1.33997472E8|
|     apple|         8.3756036E7|
|      sony|         3.9833647E7|
|       blu|         3.6263759E7|
|     annie|         3.5354872E7|
|     nokia|         2.8565852E7|
|        lg|         2.6923484E7|
| aquaracer|         2.6424706E7|
|       htc|         2.4492237E7|
|      sexy|         2.4031903E7|
|     yu&yu|         2.3679124E7|
|    reebok|           2.36621E7|
|      puma|         2.1785295E7|
|       new|         1.9895974E7|
|      vans|         1.7877734E7|
|    yamaha|         1.6978136E7|
|    adidas|         1.6823695E7|
|  motorola|         1.5252657E7|
|pleaserusa|         1.4451073E7|
|  twobirch|         1.4223076E7|
|    huawei|         1.4016541E7|
|blackberry|         1.3363959E7|
|      nine|         1.2830601E7|
|  skechers|         1.1358102E7|
|      toms|         1.0438155E7|
| unbranded|           9977233.0|
|       muk|           9722818.0|
|      zigi|           9135644.0|
|    lauren|           8944831.0|
|       svs|           8920555.0|
|sunbritetv|           8847734.0|
|    justin|           8833503.0|
|   valanty|           8793330.0|
|      easy|           8570247.0|
|  converse|           8375976.0|
|       nwt|           8198232.0|
|    lenovo|           7933464.0|
|   escante|           7807800.0|
|   charles|           7675451.0|
|  superior|           7646870.0|
|   corsair|           7086758.0|
|     crocs|           6982129.0|
|   martens|           6835318.0|
|     guess|           6810146.0|
|  insignia|           6666345.0|
|    jordan|           6523223.0|
|       msi|           6476932.0|
|     under|           6434414.0|
|     asics|           6313398.0|
|   brinley|           6287029.0|
|    propet|           6223931.0|
|    excell|           6151908.0|
|   gameday|           5461183.0|
|sennheiser|           5457326.0|
|      asus|           5435584.0|
| panasonic|           5432448.0|
|     stacy|           5234131.0|
|   pleaser|           5135193.0|
+----------+--------------------+
only showing top 60 rows

##### 4. b)Brand wise seggregation of least performing categories order wise

In [0]:
spark.sql("select Brand, sum(Quantity) as orders from AmazonTable group by Brand order by orders").show(60)

+--------------------+------+
|               Brand|orders|
+--------------------+------+
|              cooler|     1|
|              oregon|     1|
|              hailey|     1|
|    jeffrey campbell|     1|
|                idea|     1|
|           muckboots|     1|
|             elliott|     1|
|           calibrate|     1|
|              castle|     1|
|             glister|     1|
|              cliffs|     1|
|               irish|     1|
|                 riv|     1|
|               knife|     1|
|                loro|     1|
|           superfeet|     1|
|             luckers|     1|
|              dabuyu|     1|
|          highstreet|     1|
|                doro|     1|
|           stainless|     1|
|              kendal|     1|
|                male|     1|
|            colorado|     1|
|                  fq|     1|
|                 his|     1|
|           bonnnibel|     1|
|               coral|     1|
|              parisa|     1|
|               kathy|     2|
|             novatel|     2|
|sandals suit for ...|     2|
|              sodial|     2|
|         aeroantenna|     2|
|             sechunk|     2|
|              martha|     2|
|sofiamore? men's ...|     2|
|              bbfone|     2|
|             memorex|     2|
|          willtopinc|     2|
|              gubize|     2|
|           lindeberg|     2|
|                 cop|     2|
|             soprano|     2|
|         dragonforce|     2|
|               craft|     2|
|              movado|     2|
|          l.b. evans|     2|
|          jimmy choo|     2|
|               mango|     2|
|              janizz|     2|
|          harrington|     2|
|              sienna|     2|
|                 dvf|     2|
|         billionaire|     2|
|             halogen|     2|
|              grover|     2|
|                 tcl|     2|
|2(x)ist men's 3-p...|     2|
|           caractere|     2|
+--------------------+------+
only showing top 60 rows

##### 5. a)find the top 5 selling products in the given month

In [0]:
spark.sql("create table monthProductSelling as select MONTH(DATE(InvoiceDate)) as monthOfSale, Description, sum(Quantity) as QuantitySold from AmazonTable where MONTH(DATE(InvoiceDate)) = 1 group by monthOfSale, Description order by QuantitySold desc limit 5")

Out[8]: DataFrame[num_affected_rows: bigint, num_inserted_rows: bigint]

In [0]:
spark.sql("insert into monthProductSelling(monthOfSale, Description, QuantitySold) select MONTH(DATE(InvoiceDate)) as monthOfSale, Description, sum(Quantity) as QuantitySold from AmazonTable where MONTH(DATE(InvoiceDate)) = 2 group by monthOfSale, Description order by QuantitySold desc limit 5")
spark.sql("insert into monthProductSelling(monthOfSale, Description, QuantitySold) select MONTH(DATE(InvoiceDate)) as monthOfSale, Description, sum(Quantity) as QuantitySold from AmazonTable where MONTH(DATE(InvoiceDate)) = 3 group by monthOfSale, Description order by QuantitySold desc limit 5")
spark.sql("insert into monthProductSelling(monthOfSale, Description, QuantitySold) select MONTH(DATE(InvoiceDate)) as monthOfSale, Description, sum(Quantity) as QuantitySold from AmazonTable where MONTH(DATE(InvoiceDate)) = 4 group by monthOfSale, Description order by QuantitySold desc limit 5")
spark.sql("insert into monthProductSelling(monthOfSale, Description, QuantitySold) select MONTH(DATE(InvoiceDate)) as monthOfSale, Description, sum(Quantity) as QuantitySold from AmazonTable where MONTH(DATE(InvoiceDate)) = 5 group by monthOfSale, Description order by QuantitySold desc limit 5")
spark.sql("insert into monthProductSelling(monthOfSale, Description, QuantitySold) select MONTH(DATE(InvoiceDate)) as monthOfSale, Description, sum(Quantity) as QuantitySold from AmazonTable where MONTH(DATE(InvoiceDate)) = 6 group by monthOfSale, Description order by QuantitySold desc limit 5")

Out[10]: DataFrame[num_affected_rows: bigint, num_inserted_rows: bigint]

In [0]:
spark.sql("insert into monthProductSelling(monthOfSale, Description, QuantitySold) select MONTH(DATE(InvoiceDate)) as monthOfSale, Description, sum(Quantity) as QuantitySold from AmazonTable where MONTH(DATE(InvoiceDate)) = 7 group by monthOfSale, Description order by QuantitySold desc limit 5")
spark.sql("insert into monthProductSelling(monthOfSale, Description, QuantitySold) select MONTH(DATE(InvoiceDate)) as monthOfSale, Description, sum(Quantity) as QuantitySold from AmazonTable where MONTH(DATE(InvoiceDate)) = 8 group by monthOfSale, Description order by QuantitySold desc limit 5")
spark.sql("insert into monthProductSelling(monthOfSale, Description, QuantitySold) select MONTH(DATE(InvoiceDate)) as monthOfSale, Description, sum(Quantity) as QuantitySold from AmazonTable where MONTH(DATE(InvoiceDate)) = 9 group by monthOfSale, Description order by QuantitySold desc limit 5")
spark.sql("insert into monthProductSelling(monthOfSale, Description, QuantitySold) select MONTH(DATE(InvoiceDate)) as monthOfSale, Description, sum(Quantity) as QuantitySold from AmazonTable where MONTH(DATE(InvoiceDate)) = 10 group by monthOfSale, Description order by QuantitySold desc limit 5")
spark.sql("insert into monthProductSelling(monthOfSale, Description, QuantitySold) select MONTH(DATE(InvoiceDate)) as monthOfSale, Description, sum(Quantity) as QuantitySold from AmazonTable where MONTH(DATE(InvoiceDate)) = 11 group by monthOfSale, Description order by QuantitySold desc limit 5")
spark.sql("insert into monthProductSelling(monthOfSale, Description, QuantitySold) select MONTH(DATE(InvoiceDate)) as monthOfSale, Description, sum(Quantity) as QuantitySold from AmazonTable where MONTH(DATE(InvoiceDate)) = 12 group by monthOfSale, Description order by QuantitySold desc limit 5")

Out[11]: DataFrame[num_affected_rows: bigint, num_inserted_rows: bigint]

In [0]:
%sql
select * from monthProductSelling order by monthOfSale,QuantitySold;

monthOfSale,Description,QuantitySold
1,Asics Gel-nimbus 16 Women's Us Sz 7 Iridescent Pink Capri Blue T485q 0235,24
1,LG Xenon GR500 Unlocked Phone with QWERTY Keyboard,24
1,Intaglia Designs Women's Nashville Black Extended-calf Knee-high Fashion Riding Boot - Wide Width Available,24
1,Alpinestars Fraction Sandals Flip Flops Red/black,28
1,Sony Xperia X Compact - Unlocked Smartphone - 32GB - Black (US Warranty),28
2,Carrini Ca Collection Women's Fashion Knit Sweater Cuff and Foldover Lace-up Booties,24
2,Mountain Hardwear Men's Monkey Man Grid Ii Jacket,24
2,Sexy Satin Crotchless Lace Back Frilly Knickers 6-24 Inc Plus Sizes Black White,24
2,Dc Comics Batman Batmobile Slippers (medium 7/8),24
2,Lauren Ralph Lauren Women's Caliana-fl-csl Leather Porcini Ankle-high Leather Flat Shoe - 7.5m,24
3,Nike Men's Tiempo Legacy Tf Turf Soccer Shoe,28
3,Toms Women's Classic Burlap Black Burlap Low Top Canvas Flat Shoe - 6.5m,28
3,Michael Michael Kors Evie Platform Women Patent Leather Red Platform Heel,28
3,9.66,28
3,Men's Sleeveless Tri-blend Pullover Hoodie,36
4,Asus ZenFone 3 ZE520KL Unlocked Dual Sim Phone,20
4,New Balance Wx711 Women D Round Toe Canvas Pink Cross Training,20
4,XFX AMD Radeon RX 580 8GB GDDR5 PCI Express 3.0 Graphics Card,20
4,Men's Dockers Merritt Chukka Boot,20
4,Blackberry Pearl 8110 Unlocked Phone with 2MP Camera,32
5,Black Temptation Fashion Design Summer Girls Retro Embroidery Denim Shorts Jeans Light Blue,20
5,Nike Huarache 4 Lax Le Td Lacrosse Football Cleats Men's Sz 10.5 Photo Blue,20
5,Nicole Miller New York Rainyday Round Toe Synthetic Rain Boot,24
5,Superior Glove Works Superior 650hb Hb Series Clute-pattern Leatherface Glove With Knit Wrist Work (pack of 1 Dozen),24
5,Womens Merino Wool Thermal Socks Grays #613-9-11-gray 6 Pairs,32
6,Apple iPhone 2G 8GB (Black),20
6,Ridge Tactical Boots Men Dura-max Desert Zipper 8 Shaft Sand 3105,20
6,Nokia N97 Quad-band Cell Phone - Unlocked,24
6,Nike Mvp Strike 2 Low Metal Size 8 Baseball Cleats Black White New Nib Men Camp,24
6,Lucky Brand Minari Open Toe Leather Wedge Sandal,24
7,Samsung 860 EVO 500GB 2.5 Inch SATA III Internal SSD (MZ-76E500B/AM),20
7,Ib Eva Slippers,20
7,Vans Unisex Old Skool Skate Shoe,20
7,Classy Clear Heel Shoes Women's Slide Sandals With 5 Inch Heels,20
7,BLU Studio C Super Camera -Unlocked Smartphone - US GSM- White,24
8,Shrek Gingerbread Man Costume,20
8,Fox Men's Measure Crew Sweatshirt,20
8,Nicole Miller New York Rainyday Round Toe Synthetic Rain Boot,24
8,Women's Judith Printed Espadrille Canvas Slip On Shoes,24
8,New Adidas Baseball Cleats Spinner 2 Black/white Size 8.5 Men's,24
9,Kickers Eva Open Toe Leather Wedge Sandal,20
9,Reebol Nfl Burner Speed Low M3 Mens Football Cleats White Red 11.5,20
9,ECON-S3T-DVD-BK 1-DVDROM TO 3-DVD+/-RW DL 24X TOWER STANDALONE,20
9,Superior Glove Works Superior 76bfll Endura Grain Cowhide Leather Winter Fitter Glove With Fleece Lined and Safety Cuff Work Ladies (pack of 1 Dozen),20
9,Creative Recreation Mens Dicoco Sneaker Shoe,20
10,Splendid Rochelle Women Round Toe Leather Black Ankle Boot,20
10,Atoah® 7 Inch Unlocked Dual Sim Card Phone Tablet Unlocked Gsm,20
10,Sony 43 Class 4K UHD (2160P) Smart LED TV (XBR43X800E),20
10,LG KG800 Chocolate Unlocked Cell Phone with Camera,20
10,Tropical Escape Women's Hanalei Brown Embellished Sandal,24
11,Hunter Original Tour Round Toe Synthetic Rain Boot,20
11,BlackBerry Curve 8900 Javelin Unlocked Phone with 3.2 MP Camera,20
11,ljersa® 1.54 Unlocked Quad-band S29 Smart Watch Phone Support Camera TF Card Micro SD Card SIM Card Bluetooth Wrist Smartwatch Smart Mobile Phone (Black),24
11,Icebreaker Men's Anatomica Boxers With Fly,24
11,Mens Briefcase Pu+leather Laptop Business Shoulder Messenger Bag Free Shipping,28
12,Sanita Women's Norma Boot,21
12,New Puma 102871-01 Evospeed Black / Yellow Lime Men's Soccer Cleats Size 10.5 Us,24
12,Givenchy Sgv 416 301 Men Women Square Oversized Wayfarer Designer Sunglasses,24
12,Unique Bargains Women's Rounded Toe Platform Mid Heel Slip On Wedge Pumps Red (size 8.5),24
12,Faded Glory Men's Canvas Skate Shoe,24

##### 5. b)top 5 products of the having the highest margin in a given month

In [0]:
spark.sql("create table monthProductMargin as select MONTH(DATE(InvoiceDate)) as monthOfSale, Description, sum(Marginpercentage-Discountpercentage) as SaleMargin from AmazonTable where MONTH(DATE(InvoiceDate)) = 1 group by monthOfSale, Description order by SaleMargin desc limit 5")

Out[12]: DataFrame[num_affected_rows: bigint, num_inserted_rows: bigint]

In [0]:
spark.sql("insert into monthProductMargin(monthOfSale, Description, SaleMargin) select MONTH(DATE(InvoiceDate)) as monthOfSale, Description, sum(Marginpercentage-Discountpercentage) as SaleMargin from AmazonTable where MONTH(DATE(InvoiceDate)) = 2 group by monthOfSale, Description order by SaleMargin desc limit 5")
spark.sql("insert into monthProductMargin(monthOfSale, Description, SaleMargin) select MONTH(DATE(InvoiceDate)) as monthOfSale, Description, sum(Marginpercentage-Discountpercentage) as SaleMargin from AmazonTable where MONTH(DATE(InvoiceDate)) = 3 group by monthOfSale, Description order by SaleMargin desc limit 5")
spark.sql("insert into monthProductMargin(monthOfSale, Description, SaleMargin) select MONTH(DATE(InvoiceDate)) as monthOfSale, Description, sum(Marginpercentage-Discountpercentage) as SaleMargin from AmazonTable where MONTH(DATE(InvoiceDate)) = 4 group by monthOfSale, Description order by SaleMargin desc limit 5")
spark.sql("insert into monthProductMargin(monthOfSale, Description, SaleMargin) select MONTH(DATE(InvoiceDate)) as monthOfSale, Description, sum(Marginpercentage-Discountpercentage) as SaleMargin from AmazonTable where MONTH(DATE(InvoiceDate)) = 5 group by monthOfSale, Description order by SaleMargin desc limit 5")
spark.sql("insert into monthProductMargin(monthOfSale, Description, SaleMargin) select MONTH(DATE(InvoiceDate)) as monthOfSale, Description, sum(Marginpercentage-Discountpercentage) as SaleMargin from AmazonTable where MONTH(DATE(InvoiceDate)) = 6 group by monthOfSale, Description order by SaleMargin desc limit 5")

Out[16]: DataFrame[num_affected_rows: bigint, num_inserted_rows: bigint]

In [0]:
spark.sql("insert into monthProductMargin(monthOfSale, Description, SaleMargin) select MONTH(DATE(InvoiceDate)) as monthOfSale, Description, sum(Marginpercentage-Discountpercentage) as SaleMargin from AmazonTable where MONTH(DATE(InvoiceDate)) = 7 group by monthOfSale, Description order by SaleMargin desc limit 5")
spark.sql("insert into monthProductMargin(monthOfSale, Description, SaleMargin) select MONTH(DATE(InvoiceDate)) as monthOfSale, Description, sum(Marginpercentage-Discountpercentage) as SaleMargin from AmazonTable where MONTH(DATE(InvoiceDate)) = 8 group by monthOfSale, Description order by SaleMargin desc limit 5")
spark.sql("insert into monthProductMargin(monthOfSale, Description, SaleMargin) select MONTH(DATE(InvoiceDate)) as monthOfSale, Description, sum(Marginpercentage-Discountpercentage) as SaleMargin from AmazonTable where MONTH(DATE(InvoiceDate)) = 9 group by monthOfSale, Description order by SaleMargin desc limit 5")
spark.sql("insert into monthProductMargin(monthOfSale, Description, SaleMargin) select MONTH(DATE(InvoiceDate)) as monthOfSale, Description, sum(Marginpercentage-Discountpercentage) as SaleMargin from AmazonTable where MONTH(DATE(InvoiceDate)) = 10 group by monthOfSale, Description order by SaleMargin desc limit 5")
spark.sql("insert into monthProductMargin(monthOfSale, Description, SaleMargin) select MONTH(DATE(InvoiceDate)) as monthOfSale, Description, sum(Marginpercentage-Discountpercentage) as SaleMargin from AmazonTable where MONTH(DATE(InvoiceDate)) = 11 group by monthOfSale, Description order by SaleMargin desc limit 5")
spark.sql("insert into monthProductMargin(monthOfSale, Description, SaleMargin) select MONTH(DATE(InvoiceDate)) as monthOfSale, Description, sum(Marginpercentage-Discountpercentage) as SaleMargin from AmazonTable where MONTH(DATE(InvoiceDate)) = 12 group by monthOfSale, Description order by SaleMargin desc limit 5")

Out[17]: DataFrame[num_affected_rows: bigint, num_inserted_rows: bigint]

In [0]:
spark.sql("select * from monthProductMargin order by monthOfSale, SaleMargin").show()

+-----------+--------------------+----------+
|monthOfSale|         Description|SaleMargin|
+-----------+--------------------+----------+
|          1|Emilio Pucci Ep11...|       120|
|          1|Inc Plus Matte Je...|       120|
|          1|Epic 7 Tablet - F...|       140|
|          1|BlackBerry Pearl ...|       140|
|          1|Fuse Lenses For R...|       140|
|          2|Puma Evopower 1.2...|       100|
|          2|Coleman Apparel F...|       100|
|          2|Coleman Apparel F...|       100|
|          2|Jewelry Adviser L...|       100|
|          2|Puma Evopower 1.2...|       100|
|          2|Samsung Note 5 N9...|       100|
|          2|Diesel Womens Wal...|       100|
|          2|Jewelry Adviser L...|       100|
|          2|Samsung Note 5 N9...|       100|
|          2|Diesel Womens Wal...|       100|
|          3|Roper Western Boo...|       120|
|          3|Berne Apparel Wjs...|       120|
|          3|Nike Men's Tiempo...|       140|
|          3|Huadoo V3 IP68 Ru...|       140|
|          3|Citizen Womans Cr...|       140|
+-----------+--------------------+----------+
only showing top 20 rows

##### 5. c) Find the five lowest selling products in a given month.

In [0]:
spark.sql("create table lowestProductSelling as select MONTH(DATE(InvoiceDate)) as monthOfSale, Description, sum(Quantity) as QuantitySold from AmazonTable where MONTH(DATE(InvoiceDate)) = 1 group by monthOfSale, Description order by QuantitySold limit 5")

Out[20]: DataFrame[num_affected_rows: bigint, num_inserted_rows: bigint]

In [0]:
spark.sql("insert into lowestProductSelling(monthOfSale, Description, QuantitySold) select MONTH(DATE(InvoiceDate)) as monthOfSale, Description, sum(Quantity) as QuantitySold from AmazonTable where MONTH(DATE(InvoiceDate)) = 2 group by monthOfSale, Description order by QuantitySold limit 5")
spark.sql("insert into lowestProductSelling(monthOfSale, Description, QuantitySold) select MONTH(DATE(InvoiceDate)) as monthOfSale, Description, sum(Quantity) as QuantitySold from AmazonTable where MONTH(DATE(InvoiceDate)) = 3 group by monthOfSale, Description order by QuantitySold limit 5")
spark.sql("insert into lowestProductSelling(monthOfSale, Description, QuantitySold) select MONTH(DATE(InvoiceDate)) as monthOfSale, Description, sum(Quantity) as QuantitySold from AmazonTable where MONTH(DATE(InvoiceDate)) = 4 group by monthOfSale, Description order by QuantitySold limit 5")
spark.sql("insert into lowestProductSelling(monthOfSale, Description, QuantitySold) select MONTH(DATE(InvoiceDate)) as monthOfSale, Description, sum(Quantity) as QuantitySold from AmazonTable where MONTH(DATE(InvoiceDate)) = 5 group by monthOfSale, Description order by QuantitySold limit 5")
spark.sql("insert into lowestProductSelling(monthOfSale, Description, QuantitySold) select MONTH(DATE(InvoiceDate)) as monthOfSale, Description, sum(Quantity) as QuantitySold from AmazonTable where MONTH(DATE(InvoiceDate)) = 6 group by monthOfSale, Description order by QuantitySold limit 5")

Out[22]: DataFrame[num_affected_rows: bigint, num_inserted_rows: bigint]

In [0]:
spark.sql("insert into lowestProductSelling(monthOfSale, Description, QuantitySold) select MONTH(DATE(InvoiceDate)) as monthOfSale, Description, sum(Quantity) as QuantitySold from AmazonTable where MONTH(DATE(InvoiceDate)) = 7 group by monthOfSale, Description order by QuantitySold limit 5")
spark.sql("insert into lowestProductSelling(monthOfSale, Description, QuantitySold) select MONTH(DATE(InvoiceDate)) as monthOfSale, Description, sum(Quantity) as QuantitySold from AmazonTable where MONTH(DATE(InvoiceDate)) = 8 group by monthOfSale, Description order by QuantitySold limit 5")
spark.sql("insert into lowestProductSelling(monthOfSale, Description, QuantitySold) select MONTH(DATE(InvoiceDate)) as monthOfSale, Description, sum(Quantity) as QuantitySold from AmazonTable where MONTH(DATE(InvoiceDate)) = 9 group by monthOfSale, Description order by QuantitySold limit 5")
spark.sql("insert into lowestProductSelling(monthOfSale, Description, QuantitySold) select MONTH(DATE(InvoiceDate)) as monthOfSale, Description, sum(Quantity) as QuantitySold from AmazonTable where MONTH(DATE(InvoiceDate)) = 10 group by monthOfSale, Description order by QuantitySold limit 5")
spark.sql("insert into lowestProductSelling(monthOfSale, Description, QuantitySold) select MONTH(DATE(InvoiceDate)) as monthOfSale, Description, sum(Quantity) as QuantitySold from AmazonTable where MONTH(DATE(InvoiceDate)) = 11 group by monthOfSale, Description order by QuantitySold limit 5")
spark.sql("insert into lowestProductSelling(monthOfSale, Description, QuantitySold) select MONTH(DATE(InvoiceDate)) as monthOfSale, Description, sum(Quantity) as QuantitySold from AmazonTable where MONTH(DATE(InvoiceDate)) = 12 group by monthOfSale, Description order by QuantitySold limit 5")

Out[23]: DataFrame[num_affected_rows: bigint, num_inserted_rows: bigint]

In [0]:
spark.sql("insert into lowestProductSelling(monthOfSale, Description, QuantitySold) select MONTH(DATE(InvoiceDate)) as monthOfSale, Description, sum(Quantity) as QuantitySold from AmazonTable where MONTH(DATE(InvoiceDate)) = 2 group by monthOfSale, Description order by QuantitySold limit 5")

Out[36]: DataFrame[num_affected_rows: bigint, num_inserted_rows: bigint]

In [0]:
spark.sql("select * from lowestProductSelling order by monthOfSale, QuantitySold").show(60)

+-----------+--------------------+------------+
|monthOfSale|         Description|QuantitySold|
+-----------+--------------------+------------+
|          1|Inc New Black Whi...|           1|
|          1|Ben Sherman Mens ...|           1|
|          1|Twenty Four Seven...|           1|
|          1|LG G4 Power Charg...|           1|
|          1|Samsung Galaxy J1...|           1|
|          2|BLU PURE XL Smart...|           1|
|          2|Dan Post Men's Dp...|           1|
|          2|Yu&yu Women's Sho...|           1|
|          2|verykool s3503 Un...|           1|
|          2|Mcr Safety P1d383...|           1|
|          3|BLU Dash X Plus -...|           1|
|          3|Motorola KRZR K1 ...|           1|
|          3|Unique Bargains 5...|           1|
|          3|'windsor' Slip-on...|           1|
|          3|Gold 5.0 Inch LCD...|           1|
|          4|New Balance Wx409...|           1|
|          4|MTX Audio - MTX 8...|           1|
|          4|Unique Bargains 3...|           1|
|          4|Superior Glove Wo...|           1|
|          4|Baretraps Shakira...|           1|
|          5|Original Penguin ...|           1|
|          5|Nike Speed Td 313...|           1|
|          5|UBD-M9500 HDR UHD...|           1|
|          5|Chicago Cubs Mlb ...|           1|
|          5|Easy Spirit Women...|           1|
|          6|Brand New Mens Bl...|           1|
|          6|420 Buttons Women...|           1|
|          6|'fallon' High Top...|           1|
|          6|Samsung Galaxy A9...|           1|
|          6|Ariat Work Denim ...|           1|
|          7|Easy Spirit Lock ...|           1|
|          7|Augusta 5529 - Vo...|           1|
|          7|Sexy Christmas Sa...|           1|
|          7|Nina Quip Women  ...|           1|
|          7|Ofeely Bamboo Woo...|           1|
|          8|Baffin Impact Boo...|           1|
|          8|Wrangler Pro Rode...|           1|
|          8|Azzuro Men Notche...|           1|
|          8|Men's Nike Tearaw...|           1|
|          8|Happy Birthday Pa...|           1|
|          9|Kenneth Cole Ny E...|           1|
|          9|Studio Pollini Py...|           1|
|          9|OtterBox Protecti...|           1|
|          9|Sport Women's Coz...|           1|
|          9|Shoevibe Ontario ...|           1|
|         10|'hazel' Ankle Str...|           1|
|         10|Dexter Kory Bowli...|           1|
|         10|5 1/2 Inch Stilet...|           1|
|         10|New Balance X818 ...|           1|
|         10|        Diamond-701h|           1|
|         11|Stafford Deacon  ...|           1|
|         11|St. John New Blac...|           1|
|         11|Lauren By Ralph L...|           1|
|         11|Rj's Fuzzies Mens...|           1|
|         11|UHAPPY UP520 Unlo...|           1|
|         12|          502-bright|           1|
|         12|Reebok Ul 6000 Sn...|           1|
|         12|Burberry Be3040 S...|           1|
|         12|Women's Boyfriend...|           1|
|         12|American Living L...|           1|
+-----------+--------------------+------------+